services:
  db:
    image: postgres:16
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./Backend
    env_file: .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "${BACKEND_PORT}:8000"
    depends_on:
      - db

  frontend:
    build: ./Frontend/mi-app
    env_file: .env
    ports:
      - "${FRONTEND_PORT}:5173"
    depends_on:
      - backend

volumes:
  pgdata:
